.button-link {
   all: unset;
   /* Xóa tất cả các kiểu mặc định của button */
   color: #242424;
   /* Màu chữ giống với liên kết */
   text-decoration: none;
   text-transform: capitalize;
   line-height: 43px;
   display: inline-block;
   font-weight: 400;
   cursor: pointer;
   /* Con trỏ giống với liên kết */
   display: inline;
   /* Đảm bảo hiển thị giống thẻ <a> */
   padding: 0;
   /* Loại bỏ padding mặc định của button */
}
.modal.fade .modal-dialog {
   transform: translateY(-50px);
   transition: transform 0.3s ease-out, opacity 0.3s ease-out;
   opacity: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.modal.show .modal-dialog {
   transform: translate(-50%, -50%);
   opacity: 1;
}

.modal-content {
   width: 80%;
   /* Điều chỉnh theo nhu cầu của bạn */
   max-width: 600px;
   /* Đảm bảo modal không quá rộng */
}